In [130]:
import numpy as np

In [131]:
link = "/home/kit/PycharmProjects/MathLabs/digital_culture/task4.2_439856.csv"

In [132]:
import pandas as pd
data = pd.read_csv(link)

In [133]:
data

      ID  DISTANCE  STOP_COUNT   COST  FITNESS  INTERNET
0      1        11           1  21000       14         3
1      2        24           9  31000       17         3
2      3        15           2  58000        5         0
3      4         8           8  58000       10         4
4      5        26           6  54000       20         3
..   ...       ...         ...    ...      ...       ...
195  196        20          11  45000        9         1
196  197        14           6  36000       25         3
197  198         5           7  45000       17         2
198  199         7           6  35000       27         3
199  200         5           5  36000        9         2

[200 rows x 6 columns]

In [134]:
data = data.set_index("ID")
data

     DISTANCE  STOP_COUNT   COST  FITNESS  INTERNET
ID
1          11           1  21000       14         3
2          24           9  31000       17         3
3          15           2  58000        5         0
4           8           8  58000       10         4
5          26           6  54000       20         3
..        ...         ...    ...      ...       ...
196        20          11  45000        9         1
197        14           6  36000       25         3
198         5           7  45000       17         2
199         7           6  35000       27         3
200         5           5  36000        9         2

[200 rows x 5 columns]

In [135]:
def normalize(x):
    m = x.min()
    M = x.max()
    return (x - m) / (M - m)

data = data.apply(normalize)
data

     DISTANCE  STOP_COUNT      COST   FITNESS  INTERNET
ID
1    0.307692    0.000000  0.025641  0.423077      0.75
2    0.807692    0.727273  0.282051  0.538462      0.75
3    0.461538    0.090909  0.974359  0.076923      0.00
4    0.192308    0.636364  0.974359  0.269231      1.00
5    0.884615    0.454545  0.871795  0.653846      0.75
..        ...         ...       ...       ...       ...
196  0.653846    0.909091  0.641026  0.230769      0.25
197  0.423077    0.454545  0.410256  0.846154      0.75
198  0.076923    0.545455  0.641026  0.538462      0.50
199  0.153846    0.454545  0.384615  0.923077      0.75
200  0.076923    0.363636  0.410256  0.230769      0.50

[200 rows x 5 columns]

In [136]:
data["SUM"] = data.STOP_COUNT + data.DISTANCE + data.COST + 0.2 * data.FITNESS + 0.5 * (1 - data.INTERNET)
data.sort_values(by="SUM", ascending=True)

     DISTANCE  STOP_COUNT      COST   FITNESS  INTERNET       SUM
ID
138  0.076923    0.090909  0.102564  0.461538      0.75  0.487704
1    0.307692    0.000000  0.025641  0.423077      0.75  0.542949
54   0.000000    0.000000  0.102564  0.384615      0.25  0.554487
143  0.115385    0.181818  0.051282  0.000000      0.50  0.598485
59   0.192308    0.454545  0.051282  0.076923      1.00  0.713520
..        ...         ...       ...       ...       ...       ...
70   0.461538    1.000000  0.948718  0.269231      0.00  2.964103
68   0.923077    1.000000  0.897436  0.384615      0.75  3.022436
65   0.884615    0.909091  0.692308  0.846154      0.25  3.030245
101  0.923077    0.909091  0.846154  0.423077      0.25  3.137937
66   0.807692    0.909091  0.794872  0.846154      0.00  3.180886

[200 rows x 6 columns]