In [142]:
import numpy as np
import pandas as pd

df = pd.read_csv("/home/kit/PycharmProjects/MathLabs/digital_culture/task1_v3_2_514811.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Точка маршрута  15 non-null     object
 1   Рейс 1          15 non-null     object
 2   Рейс 2          15 non-null     object
 3   Рейс 3          15 non-null     object
 4   Рейс 4          15 non-null     object
dtypes: object(5)
memory usage: 728.0+ bytes

In [143]:
df[df.columns[1:]] = df[df.columns[1:]].apply(lambda x: pd.to_timedelta(x))

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Точка маршрута  15 non-null     object
 1   Рейс 1          15 non-null     timedelta64[ns]
 2   Рейс 2          15 non-null     timedelta64[ns]
 3   Рейс 3          15 non-null     timedelta64[ns]
 4   Рейс 4          15 non-null     timedelta64[ns]
dtypes: object(1), timedelta64[ns](4)
memory usage: 728.0+ bytes

In [144]:
df

,Точка маршрута,Рейс 1,Рейс 2,Рейс 3,Рейс 4
0,28-29-Я ЛИНИИ,0 days 07:13:40,0 days 07:28:40,0 days 07:40:50,0 days 07:56:40
1,22-23-Я ЛИНИИ,0 days 07:14:30,0 days 07:29:30,0 days 07:41:50,0 days 07:57:40
2,МУЗЕЙ ГОРОДСКОГО ТРАНСПОРТА,0 days 07:16:40,0 days 07:31:40,0 days 00:00:00,0 days 08:00:10
3,12-13-Я ЛИНИИ,0 days 07:18:30,0 days 07:33:30,0 days 00:00:00,0 days 08:02:20
4,"МЕТРО ""ВАСИЛЕОСТРОВСКАЯ""",0 days 07:21:00,0 days 07:35:50,0 days 00:00:00,0 days 08:04:30
5,1-Я И КАДЕТСКАЯ ЛИНИИ,0 days 07:22:30,0 days 07:37:10,0 days 00:00:00,0 days 08:06:10
6,"1-Я И КАДЕТСКАЯ ЛИНИИ. МЕТРО ""СПОРТИВНАЯ""",0 days 07:23:50,0 days 07:38:20,0 days 00:00:00,0 days 08:07:20
7,"МЕТРО ""СПОРТИВНАЯ""",0 days 07:25:10,0 days 07:39:30,0 days 07:54:20,0 days 08:08:50
8,КРОНВЕРКСКИЙ ПРОСПЕКТ,0 days 07:26:20,0 days 07:40:40,0 days 07:55:50,0 days 08:10:10
9,ЗВЕРИНСКАЯ УЛ.,0 days 07:27:50,0 days 07:42:10,0 days 07:56:50,0 days 08:11:20
10,ВВЕДЕНСКАЯ УЛ.,0 days 07:28:50,0 days 07:43:40,0 days 07:58:20,0 days 08:13:00
11,СЫТНЫЙ РЫНОК,0 days 07:30:10,0 days 07:45:10,0 days 08:00:00,0 days 08:14:10
12,"МЕТРО ""ГОРЬКОВСКАЯ""",0 days 07:31:10,0 days 07:46:20,0 days 08:01:00,0 days 08:15:40
13,ТРОИЦКАЯ ПЛ. П.С.,0 days 07:32:20,0 days 07:48:00,0 days 08:02:20,0 days 08:16:50
14,УЛИЦА ЧАПАЕВА,0 days 07:33:40,0 days 07:49:10,0 days 08:03:50,0 days 08:18:10

In [145]:
timedelta = df["Рейс 3"].loc[7] - df["Рейс 3"].loc[1]
timedelta

Timedelta('0 days 00:12:30')

In [146]:
route1 = np.array([df["Рейс 1"].loc[i] - df["Рейс 1"].loc[j] for i, j in zip(range(2, 8), range(1, 7))])
route2 = np.array([df["Рейс 2"].loc[i] - df["Рейс 2"].loc[j] for i, j in zip(range(2, 8), range(1, 7))])
route4 = np.array([df["Рейс 4"].loc[i] - df["Рейс 4"].loc[j] for i, j in zip(range(2, 8), range(1, 7))])

print(route1)
print(route2)
print(route4)

[Timedelta('0 days 00:02:10') Timedelta('0 days 00:01:50')
 Timedelta('0 days 00:02:30') Timedelta('0 days 00:01:30')
 Timedelta('0 days 00:01:20') Timedelta('0 days 00:01:20')]
[Timedelta('0 days 00:02:10') Timedelta('0 days 00:01:50')
 Timedelta('0 days 00:02:20') Timedelta('0 days 00:01:20')
 Timedelta('0 days 00:01:10') Timedelta('0 days 00:01:10')]
[Timedelta('0 days 00:02:30') Timedelta('0 days 00:02:10')
 Timedelta('0 days 00:02:10') Timedelta('0 days 00:01:40')
 Timedelta('0 days 00:01:10') Timedelta('0 days 00:01:30')]

In [147]:
avg = (route4 + route2 + route1) / 3
avg = np.array([x.total_seconds() for x in avg])
avg

array([136.666666, 116.666666, 140.      ,  90.      ,  73.333333,
        80.      ])

In [148]:
sum_avg = np.round(np.sum(avg), 0)
print(sum_avg)
print(timedelta)

637.0
0 days 00:12:30

In [149]:
import time

ans = timedelta.total_seconds() * avg / sum_avg
ans = np.round(ans, 0)
ans = [time.strftime('%H:%M:%S', time.gmtime(x)) for x in ans]
ans

['00:02:41', '00:02:17', '00:02:45', '00:01:46', '00:01:26', '00:01:34']

In [150]:
data = pd.to_timedelta(df["Рейс 3"].loc[2:6] + df["Рейс 3"][1])
print(data)
ans = pd.Series(ans[:-1])
ans = pd.to_timedelta(ans)
print(ans)
A1 = df['Рейс 3'][1] + ans[0]
A2 = A1 + ans[1]
A3 = A2 + ans[2]
A4 = A3 + ans[3]
A5 = A4 + ans[4]
ANS = [str(A1)[7:], str(A2)[7:], str(A3)[7:], str(A4)[7:], str(A5)[7:]]
print(ANS)

2   0 days 07:41:50
3   0 days 07:41:50
4   0 days 07:41:50
5   0 days 07:41:50
6   0 days 07:41:50
Name: Рейс 3, dtype: timedelta64[ns]
0   0 days 00:02:41
1   0 days 00:02:17
2   0 days 00:02:45
3   0 days 00:01:46
4   0 days 00:01:26
dtype: timedelta64[ns]
['0 days 07:44:31', '07:46:48', '07:49:33', '07:51:19', '07:52:45']